header#header {
    nav.navbar {
        background-color: #FFF;
        padding: 26px 0;
        z-index: 30;
        transition-duration: 0.6s;
        div {
            ul {
                li.nav-item {
                    a.item-menu {
                        color: $primary-color;
                        padding-left: 30px;
                    } &:hover, &:active {
                        color: rgb(0, 195, 255);
                    }
                    a.item-menu.active {
                        color: $secondary-color;
                    }
                    div.dropdown-menu {
                        background-color: #FFF;
                        a.item-menu {
                            color: $primary-color;
                            
                            background-color: #FFF;
                        } &:active {
                            background-color: #FFF;
                        }
                        a.item-menu.active {
                            color: #FFF;
                            background-color: $secondary-color;
                        } &:active {
                            background-color: #FFF;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-medium) {
    img.logo-mini {
        transition-duration: 0.6s;
        transform: scale(0.8);
    }
    header#header nav.navbar-scroll {
        background: #ffffff;
        padding: 0;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
        transition-duration: 0.6s;
        position: fixed;
        top: 0;
        width: 100%;
    }  
}

@media screen and (max-width: $break-medium) {
    header#header {
        padding: 0;
        nav.navbar {
            padding: 0;
            img#logo {
                width: 220px;
                margin-left: 20px;
            }
            div#navbarText {
                z-index: 10;
                background-color: $primary-color;
                font-weight: 600;
                ul {
                    li.nav-item {
                        a.item-menu {
                            color: #FFF;
                        } &:hover, &:active {
                            color: rgb(0, 195, 255);
                        }
                        a.item-menu.active {
                            color: $secondary-color;
                            background-color: #FFF;
                        }
                        div.dropdown-menu {
                            border: none;
                            border-radius: 0;
                            a.item-menu {
                                color: $primary-color;
                            } &:active {
                                background-color: #FFF;
                            }
                            a.item-menu.active {
                                color: $secondary-color;
                                background-color: #FFF;
                            } &:active {
                                color: #FFF;
                            }
                        }
                    }
                }
            }
            .button-toggler-menu {
                border-radius: 50%;
                border: none;
                z-index: 10;
                padding: 0;
                margin-right: 20px;
            }
        }
    }
    .nav-container {
        margin: 0;
        max-width: 100%;
    }
}



