#portfolio {
    //background-color: #EEE;
    transition-duration: 2s;

    div {
        .card {
            border: 0px solid #EEE;
            padding: 10px;
            min-height: 300px;
        } 
    }
}