

.p-40 {
    padding: 40px;
}

.p-20 {
    padding: 20px;
}


/* portifolio */

.solid {
    * {
        color: #fff;
        font-weight: 600;
    }
}

.footer {
    position: relative;
    bottom: 0;
}

.slider-item-1 {
    ba
}

